<div class="ep-view">
  <div class="ep-header">
    @if (podcast()!.artworkUrl) {
      <img class="artwork" [src]="podcast()!.artworkUrl" [alt]="podcast()!.title" />
    }
    <div class="pod-info">
      <span class="pod-title">{{ podcast()!.title }}</span>
      <span class="pod-author dim">{{ podcast()!.author }}</span>
    </div>

    <div class="actions">
      <button class="back-btn" (click)="goBack()">{{ 'episode-list.back' | translate }}</button>

      <button class="sub-btn" (click)="toggleSubscribe($event)">
        {{
          library.isSubscribed(podcast()!.id)
            ? ('episode-list.unsubscribe' | translate)
            : ('episode-list.subscribe' | translate)
        }}
      </button>
    </div>
  </div>

  @if (loading()) {
    <div class="status dim">{{ 'episode-list.loading' | translate }}</div>
  } @else if (error()) {
    <div class="status error">! {{ error() }}</div>
  } @else {
    <div class="ep-list">
      @for (ep of episodes(); track ep.id) {
        <app-episode-row
          [episode]="ep"
          [progressRatio]="listenProgressRatio(ep)"
          [downloaded]="isDownloaded(ep)"
          [downloadProgress]="downloadProgress(ep)"
          (selected)="selectEpisode($event)"
          (playClicked)="playEpisode($event)"
          (downloadClicked)="downloadEpisode($event)"
          (removeDownloadClicked)="removeDownload($event)" />
      }
      @if (episodes().length === 0) {
        <div class="status dim">{{ 'episode-list.empty' | translate }}</div>
      }
    </div>
  }
</div>
